/* common css */

body {
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    letter-spacing: .5px;
}

.bundle {
    margin-bottom: 25px;
}

/* sidebar css */

#sidebar-wrapper {
    width: 250px;
    height: 100%;
    position: fixed;
}

#sidebar-wrapper a {
    text-decoration: none;
}

#sidebar-wrapper .brand-logo {
    text-align: center;
    height: 64px;
    border-bottom: 1px solid lightgray;
    line-height: 64px;
}

.brand-logo .logo-icon {
    width: 60px;
    border-style: none;
    vertical-align: middle;
}

.brand-logo .logo-text {
    color: black;
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    top: 5px;
    text-align: center;
    line-height: 50px;
}

#sidebar-wrapper .sidebar-menu {
    list-style: none;
    margin: 0px;
    padding: 10px;
}

.sidebar-menu>li {
    position: relative;
    margin: 5px 0px;
}

.sidebar-menu>li>a {
    padding: 6px 5px 6px 15px;
    display: block;
    font-size: 15px;
}

.sidebar-menu .menu-header {
    margin: 4px 25px 4px 15px;
    font-size: 14px;
}

.sidebar-menu .menu-content {
    color: black;
}

.align-right {
    float: right;
    margin-right: 12px;
}

.sidebar-menu .sub-menu {
    padding-left: 15px;
}

.sidebar-menu .sub-menu>li>a {
    padding: 5px 5px 5px 15px;
}

.sub-menu li {
    list-style: none;
}

.sub-menu li a {
    color: black;
}

.sub-menu li i {
    font-size: 10px;
}



/* topbar css */

#topbar-wrapper {
    width: 100%;
    height: 64px;
    position: fixed;
    background: white;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
}



#topbar-wrapper button {
    border: none;
    background-color: white;
    float: right;
    outline: 0;
}

#topbar-wrapper i {
    margin: 17px;
    height: 100%;
    font-size: 28px;
}

#topbar-wrapper .animate-blind {
    height: 64px;
    width: 100%;
    background: white;
}

#topbar-wrapper ul {
    margin: 0px;
    position: relative;
    z-index: -1;
    background: white;
    box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
}

#topbar-wrapper li {
    border-top: 1px solid lightgray;
    
}

/* content css */

#content-wrapper {
    background: #f8f9fa;
    padding: 0px 40px 10px 40px;
}

/* schedule css */



/* graph css */

.graph-layout {
    height: 440px;
    margin-bottom: 24px;
}

.card .card-header {
    background: white;
}

.card-header p {
    margin: 0px;
}

.card .card-content {
    margin: 36.3px 0px;
}

.card-content i {

}

.card .card-subscribe {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    font-size: 13px;
}

.card-subscribe table {
    margin: 0px;
}

/* card css */

.card {
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(117, 108, 254, 0.12);
}

#content-wrapper .card-body {
    height: 120px;
    padding: 18px;
}

.gradient-blue {
    background: linear-gradient(45deg, #6a11cb , #2575fc)!important;
    margin: 10px 0px;
}

.gradient-red {
    background: linear-gradient(45deg, #ee0979, #ff6a00)!important;
    margin: 10px 0px;
}

.gradient-green {
    background: linear-gradient(45deg, #00b09b, #96c93d)!important;
    margin: 10px 0px;
}

.gradient-orange {
    background: linear-gradient(45deg, #fc4a1a, #f7b733)!important;
    margin: 10px 0px;
}

.card-body {
    color: white;
}

.card-body p {
    font-size: 15.5px;
    font-weight: 700;
}

.card-body p span {
    margin-right: 2px;
}

.card-body i {
    font-size: 14px;
    font-weight: 600;
}

.card-body .progress-bar {
    height: 3px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    margin: 18px 0px;
}

.progress-bar .percentage {
    height: 3px;
    background: white;
}

.row-layout {
    margin-top: 20px;
}


/*  */



/* media query */

@media(max-width: 1025px) {

    #sidebar-wrapper {
        display: none;
    }

    #content-wrapper {
        padding-top: 64px;
    }

    #content-wrapper .card-subscribe {
        font-size: 12px;
    }
}

@media(min-width: 1025px) {
    
    #topbar-wrapper {
        display: none;    
    }

    #content-wrapper {
        margin-left: 250px;
    }
}

@media(max-width: 1200px) {

    #content-wrapper .responsive-layout {
        margin-top: 20px;
    }

}

@media(max-width: 990px) {
    #content-wrapper .responsive-layout2 {
        margin-top: 20px;
    }
}