#content-wrapper {
    
}

#content-wrapper .bundle {
    padding-top: 24px;
}

#content-wrapper .page-header {
    margin: 24px;
    padding: 0px 15px;
    font-size: 28px;
    margin: 0px;
}

#content-wrapper .table {
    background: white;
    margin-top: 24px;
    text-align: left;
    
}

.table th {
    width: 180px;
    height: 60px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
    background: #f8f9fa;
}

.table td {
    vertical-align: middle;
    border: 1px solid #dee2e6;
}
